

/*
rgb(2, 157, 230)
rgb(0, 255, 255)
rgb(83, 195, 247)
rgb(214, 231, 235)
*/


* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
 }


 body {
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  background: linear-gradient(50deg, rgb(2, 157, 230),   rgb(0, 255, 255), rgb(83, 195, 247),  rgb(214, 231, 235)) fixed;
  background-size: 400% 400%;
  background-position: center;
  animation: gradiente 8s ease-in infinite;
  -webkit-animation: gradiente 8s ease-in infinite;
}

@keyframes gradiente {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




/* HEADER */




header {
  padding: 10px 40px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

header .logo {
  height: 80px;
}

header .navbar ul {
  list-style: none;
  z-index: 1;
}

header .navbar ul li {
  position: relative;
  float: left;
  
}

.fa-solid {
  color: #fff;
}

header .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: rgb(2, 157, 230);
  letter-spacing: .1em;
  display: block;
  margin-left: 5px;
  position: relative;
  border: none;
  outline: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: .5;
  -webkit-transition: .5;
  -moz-transition: .5;
  -ms-transition: .5;
  -o-transition: .5;
  overflow: hidden;
  
}


header .navbar ul li .a1 {
  color: #fff;
}

header .navbar ul li a:hover {
  color: rgb(203, 0, 230);
}



header .navbar ul li a span {
  position: absolute;
  background: rgb(0, 255, 255);
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

header .navbar ul li a span:nth-child(1) {
  width: 100%;
  height: 2px;
  top: 0;
  left: -100%;
}

header .navbar ul li a span:nth-child(2) {
  width: 100%;
  height: 2px;
  bottom: 0;
  right: -100%;
}

header .navbar ul li a span:nth-child(3) {
  width: 2px;
  height: 100%;
  bottom: -100%;
  left: 0;
}

header .navbar ul li a span:nth-child(4) {
  width: 2px;
  height: 100%;
  top: -100%;
  right: 0;
}

header .navbar ul li a:hover span:nth-child(1) {
  left: 0;
}

header .navbar ul li a:hover span:nth-child(2) {
  right: 0;
}

header .navbar ul li a:hover span:nth-child(3) {
  bottom: 0;
}

header .navbar ul li a:hover span:nth-child(4) {
  top: 0;
}


header .navbar ul li ul {
  position: absolute;
  display: none;
}

header .navbar ul li ul li {
  margin: 5px 0;
  width: 100%;
  margin: 10px 0;
}




header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial;
  
}

#menu-bar {
  display: none;
}






header label {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  display: none;
}










/* CONTENIDO INDEX */




.container1 {
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
}

.video-clip {
  width: 50%;
  height: 50%;
}





/*PARTE 2*/

.section-2 {
  padding: 40px;
}

.body-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.div-1 {
  color: #fff;
  width: 550px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-1 h2 {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
}

.div-1 p {
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
  text-align: justify;
  text-transform: uppercase;
}

.div-21 {
  width: 400px;
}

.div-21 img {
  margin-top: 10px;
  width: 100%;
}




/* FOOTER */

footer {
  background: #333;
}


.footer-container {
  width: 100%;
  padding: 12px;
}

.footer-nav2 {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.box-1 p {
  font-size: 1.2em;
  color: #fff;
}

.box-2 a {
  margin: 20px;
}


.box-2 a i {
  background-color: #fff;
  padding: 10px;
  font-size: 1.8em;
  color: #000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: .9;
}


.box-2 a i:hover {
  background-color: #111;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}


.box-2 a:hover {
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.box-2 a:hover i {
  color: #fff;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 20px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, .3);
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}





/* RESPONSIVE */




@media(max-width:990px){



  /* HEADER */

  header {
    padding: 20px;
  }

  header label {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 60px; left: 0; right: 0;
    padding-top: 60px;
    display: none;
  }

  

  header .navbar ul li {
    width: 100%;
    z-index: 1;
  }
  

  header .navbar ul li a {
    color: rgb(2, 157, 230);
    font-weight: bold;
    letter-spacing: .1em;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}

header .navbar ul li a:hover {
  color: rgb(203, 0, 230);
}

  header .navbar ul li a span {
    display: none;
  }

  header .navbar ul li:focus-within > ul,
  header .navbar ul li:hover > ul {
  display: none;
}

  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }

  header .navbar ul li ul li {
    margin: 0;
  }



  header label {
    padding-top: 20px;
    padding-right: 20px;
  }

  #menu-bar:checked ~ .navbar {
    display: initial;
  }


  /* CONTENIDO */

  .container1 {
    width: 300px;
  }

  .video-clip {
    width: 300px;
  }

  /* FOOTER */

 

  .footer-nav2 {
    display: flex;
    flex-direction: column;
  }

  .box-1 {
    text-align: center;
  }

  .box-2 {
    padding: 10px 20px;
    display: flex;
  }

  .box-3 {
    margin-top: 20px;
  }

  .btn-wsp {
    display: flex;
    flex-direction: column;
    margin: 0 50%;
    position: relative;
  }

}


