
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #44464b;
}

.img-slider {
  position: relative;
  width: 980px;
  height: 380px;
  margin: 10px;
  background: #1d212b;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 800px;
  clip-path: circle(0% at 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 50%);
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 980px;
  height: 380px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.img-slider .slide .info {
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2 {
  color: #fff;
  font-size: 40px;
  text-align: justify;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p {
  color: #fff;
  background: rgba(0, 0, 0, .1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, .5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #2696e9;
  box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}



@media (max-width: 820px) {
  .img-slider {
    width: 600px;
    height: 375px;
  }

  .img-slider .slide img {
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info {
    padding: 10px 25px;
  }

  .img-slider .slide .info h2 {
    font-size: 30px;
  }

  .img-slider .slide .info p {
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }

}

@media (max-width: 620px) {
  .img-slider {
    width: 400px;
    height: 250px;
  }

  .img-slider .slide img {
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info {
    padding: 10px 20px;
  }

  .img-slider .slide .info h2 {
    font-size: 30px;
  }

  .img-slider .slide .info p {
    width: 40%;
    font-size: 13px;
  }

  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }

}

@media (max-width: 420px) {
  .img-slider {
    width: 320px;
    height: 200px;
  }

  .img-slider .slide img {
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info {
    padding: 5px 10px;
  }

  .img-slider .slide .info h2 {
    font-size: 25px;
  }

  .img-slider .slide .info p {
    width: 35%;
    font-size: 11px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }

}