
* {
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0cm;
}

h1, h2, h3, h4, h5 {
  font-family: "Fjalla One", sans-serif;
}

.cover {
  height: 400px;
  background-image: url(./Assets/img/school.jpg);
  color: #fff;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, .2);
  background-blend-mode: darken;
}

.cover-small {
  height: 180px;
  background-blend-mode: normal;
}

.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .6);
}

.card-title {
  min-height: 3rem;
}

.card-text {
  min-height: 5rem;
}

.doodle {
  width: 250px;
}

.desc a {
  text-decoration: none;
}

.image-stripe, .slider {
  overflow-x: scroll;
  padding: 1rem 0;
}

.stripe-container, .slider-container {
  display: flex;
}

.stripe-container .card {
  width: 300px;
  flex-shrink: 0;
  margin-right: 1rem;
}

.responsive-iframe {
  position: relative;
  padding-top: 56.25%;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider {
  overflow-x: hidden;
}

.slider-container {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  animation: slider 20s infinite;
  -webkit-animation: slider 20s infinite;
}

.image-container {
  width: 100%;
  padding-top: 56.25%;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.avatar {
  width: 130px;
  height: 130px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

@keyframes slider {

  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  20% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  
  25% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

  45% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

  50% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
}

  70% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
}

  75% {
    transform: translateX(-300%);
    -webkit-transform: translateX(-300%);
    -moz-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    -o-transform: translateX(-300%);
}

  95% {
    transform: translateX(-300%);
    -webkit-transform: translateX(-300%);
    -moz-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    -o-transform: translateX(-300%);
}



  100% {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

}