body {
  margin: 0cm;
}

.cover {
  height: 400px;
  background-image: url(./Assets/img/school.jpg);
  color: #fff;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, .2);
  background-blend-mode: darken;
}

.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .6);
}